*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto/Roboto-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto/Roboto-BoldItalic.ttf);
    font-style: italic;
    font-weight: bold;
}
